body {
font-size: 14px;
line-height: 26px;
color: #333333;
font-weight: normal;
font-family: "Pt Sans" "Arial", sans-serif;
}

h2 {
font-size: 21px;
line-height: 26px; 
color: #333333;
font-weight: bold;
}

h3{
font-size: 30px;
line-height: 21px;
font-weight: bold;
color: #000000;    
}