body {
font-size: 14px;
line-height: 21px;
color: #333333;
font-weight: normal;
font-family: 'PT Sans', "Arial", sans-serif;
background-color: #f2f2f2;
text-transform: uppercase;
}

h2 {
font-size: 21px;
line-height: 26px;
color: #000000;
font-weight: bold;
}

h3 {
font-size: 30px;
line-height: 26px;
font-weight: bold;
color: #000000;
}

.filter-string {
font-size: 16px;
line-height: 21px;
font-weight: bold;
}

label {
font-size: 14px;
line-height: 21px;
font-weight: normal;
}

.global-wrapper {
margin: 0 auto;
background-color: #ffffff;
width: 1200px;
box-shadow: 0 0 7px 3px #dbdbdb;
}

.main-header {
margin-bottom: 10px;
}

.logo-wrapper {
position: relative;
box-sizing: border-box;
}

.logo {
display: inline-block;
position: absolute;
top: 0px;
left: 450px;
z-index: 2;
}

.main-header ul {
list-style: none;
margin: 0;
padding: 0;
font-size: 0px;
text-align: center;
width: 100%;
}

.main-header li {
display: inline-block;
vertical-align: middle;
font-size: 14px;
line-height: 26px;
font-weight: bold;
width: 25%;
}

.main-header a {
text-decoration: none;
color: #333333;
display: block;
padding: 15px;
}

.main-menu {
width: 1200px;
min-height: 70px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-picture {
position: relative;
width: 1200px;
min-height: 510px;
margin-bottom: 35px;
bottom: 30px;
background: url("../img/background-photo.jpg") no-repeat #81b3d2;
background-position: 0 -55px;
top:-25px;
z-index: 1;
}

.main-picture::after {
position: absolute;
content: "";
background: url("../img/mainwords.png") no-repeat;
width: 465px;
height: 450px;
top: 76px;
left: 370px;
}

.main-picture::before {
position: absolute;
content: "";
background: url("../img/shape.png") no-repeat;
width: 1200px;
height: 57px;
top: 453px;
}

.slogan {
margin: 0 auto;
text-align: center;
width: 550px;
min-height: 140px;
padding-bottom: 15px;
}

.slogan-title {
font-size: 21px;
line-height: 26px;
font-weight: bold;
padding-bottom: 15px;
margin: 0;
}

.item-title {
color: #ffffff;
margin: 0 auto;
max-width: 120px;
font-size: 21px;
line-height: 21px;
padding-bottom: 10px;
padding-top: 15px;
}

.facts {
min-height: 256px;
}

.facts-text {
font-size: 14px;
line-height: 21px;
float:left;
width: 290px;
padding: 42px 55px;
text-align: center;
background-color: #81b3d2;
min-height: 172px;
color: #ffffff;
}

.facts-image {
float: left;
width: 800px;
height: 256px;
background: url("../img/foto.jpg") no-repeat #ffffff;
background-size: cover;
background-position: 0 -77px;
}

.features {
margin-bottom: 67px;
}

.features-items {
float: left;
width: 300px;
min-height: 190px;
text-align: center;
margin: 0;
padding-left: 50px;
padding-top: 55px;
margin-right: 50px;
}

.features-items:nth-child(3) {
margin-right: 0px;
}

.features-photo{
padding-bottom: 25px;
}

.features-title {
font-size: 21px;
line-height: 21px;
color: #000000;
font-weight: bold;
margin: 0;
padding-bottom: 10px;
}

.image-canyon {
float: left;
width: 800px;
height: 256px;
background: url("../img/canyon.jpg") no-repeat #ffffff;
background-size: cover;
background-position: 0 -75px;
}

.fact {
position: relative;
float: right;
width: 320px;
min-height: 156px;
text-align: center;
line-height: 21px;
background-color: #81b3d2;
color: #ffffff;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 50px;
padding-top: 50px;
}

.fact-title {
font-size: 21px;
line-height: 21px;
color: #ffffff;
font-weight: bold;
margin: 0 auto;
max-width: 155px;
}

.facts-list {
margin-bottom: 55px;
}

.list-facts {
float: left;
width: 270px;
min-height: 210px;
text-align: center;
background-color: #eeeeee;
padding-top: 42px;
padding-left: 65px;
padding-right: 65px;
}

.list-facts p {
padding-top: 6px;
}

.list-title {
font-size: 21px;
line-height: 21px;
font-weight: bold;
margin: 0 auto;
max-width: 120px;
padding-bottom: 10px;
padding-top: 5px;
}

.question {
width: 1200px;
text-align: center;
margin-bottom: 35px;
}

.registration {
position: relative;
margin: 0 auto;
min-height: 481px;
width: 565px;
background-color: aqua;
}

.registration p {
text-align: center;
background-color: #766357;
padding: 30px 0;
color: #ffffff;
font-weight: normal;
}

.registration a{
text-decoration: none;
color: #ffffff;
font-size: 21px;
line-height: 26px;
font-weight: bold;
position: relative;
}

.registration::before {
display: block;
position: absolute;
content: "";
width: 1200px;
height: 472px;
/*background: url(../img/map.jpg) no-repeat;*/
left: -312px;
top: 100px;
}

.main-footer {
background-color: #ffffff;
min-height: 120px;
}

.main-footer a {
color: #ffffff;
}

.main-footer a:hover {
text-decoration: none;
}

.visit {
float: left;
width: 400px;
height: 120px;
text-align: center;
}

.social-btn {
display: inline-block;
width: 46px;
height: 48px;
margin: 0 6px;
background: #81b3d2 url("../img/spritesheet.png") no-repeat center;
font-size: 0;
text-decoration: none;
vertical-align: top;
}

.social-footer {
float: left;
width: 400px;
height: 120px;
text-align: center;
}

.social-btn-twitter{
background-position: -183px -5px;
}

.social-btn-facebook{
background-position: -79px -5px;
}

.social-btn-youtube{
background-position: -183px -30px;
}

.footer-copyright {
float: left;
width: 400px;
height: 120px;
text-align: center;
}

.footer-copyright p {
display: inline-block;
}

.container {
width: 1200px;
min-height: 217px;
padding-top: 25px;
}
.infrastructure {
float: left;
width: 240px;
padding-left: 72px;
min-height: 193px;
}

.accommodation {
float: left;
width: 287px;
min-height: 193px;
}

.price {
float: right;
width: 328px;
min-height: 193px;
margin-left: 200px;
margin-right: 10px;
}

fieldset {
border: none;
}

.infrastructure label+input {
display: block;
}

.accommodation label+input {
display: block;
}

.found {
font-size: 21px;
line-height: 26px;
font-weight: bold;
padding-left: 72px;
}

.sorting {
min-height: 87px;
width: 1200px;
}

.sorting-span {
padding-left: 35px;
font-size: 12px;
line-height: 18px;
color: #000000;
}

.sorting-list {
padding-left: 20px;
}

.top {
float: right;
padding-right: 72px;
}

.bottom {
float: right;
}

.item-habitation {
min-height: 150px;
width: 1200px;
padding:20px 0;
}

.hotel-image {
float:left;
width: 137px;
height: 90px;
padding-left: 72px;
margin-right: 25px;
}

.hotel-title {
float: left;
min-height: 20px;
min-width: 220px;
margin-top: 0px;
margin-bottom: 10px;
}

.property-type {
float:left;
width: 83px;
padding-right: 28px;
line-height: 21px;
margin-bottom: 15px;
}

.knob-more {
float:left;
}

.price-from {
float:left;
line-height: 21px;
margin-bottom: 15px;
}

.evaluation {
float:right;
margin-right: 72px;
}

.hotel-all {
float:left;
width:270px;
}

.sprite {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-box {
    width: 64px;
    height: 76px;
    background-position: -5px -5px;
}

.sprite-face {
    width: 10px;
    height: 19px;
    background-position: -79px -5px;
}

.sprite-food {
    width: 74px;
    height: 70px;
    background-position: -99px -5px;
}

.sprite-house {
    width: 75px;
    height: 72px;
    background-position: -79px -85px;
}

.sprite-twi {
    width: 17px;
    height: 15px;
    background-position: -183px -5px;
}

.sprite-you {
    width: 20px;
    height: 16px;
    background-position: -183px -30px;
}
