body {
font-size: 14px;
line-height: 26px;
color: #333333;
font-weight: normal;
font-family: "Pt Sans", "Arial", sans-serif;
width: 1200px;
}

h2 {
font-size: 21px;
line-height: 26px; 
color: #333333;
font-weight: bold;
}

h3 {
font-size: 30px;
line-height: 21px;
font-weight: bold;
color: hex;    
}
.main-header {
margin-bottom: 10px;
}

.main-menu {
float: left;
width: 1200px;
min-height: 70px;
background-color: aqua;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-picture {
float: left;
width: 1200px;
margin-bottom: 45px;
}

.slogan {
float: left;
width: 1200px;
margin-left: auto;
margin-left: auto;
margin-bottom: 50px;
background-color: aquamarine;
}

.facts {
float:left;
width: 410px;
background-color: beige;
height: 255px;
}
.main-container {
min-width: 1280px;
margin-left: auto;
margin-right: auto;
}